<p>Hello from <a href="{{.URL}}">WAMC at {{.Hostname}}</a>!</p>

{{if .NearlyFullPartitions}}
  <span style="color: red">
    <p><b>The following partitions are nearly full:</b></p>
    <ul>
    {{- range .NearlyFullPartitions -}}
      <li>{{.}}</li>
    {{- end -}}
    </ul>
  </span>
{{- end -}}

{{if .Reboot}}
<p><b style="color: red">{{.Reboot}}</b></p>
{{end}}

{{- if .SonarrIssues -}}
  <span style="color: red">
    <p>Sonarr issues:</p>
    <ul>
      {{- range .SonarrIssues -}}
        <li>{{.}}</li>
      {{end}}
    </ul>
  </span>
{{else}}
  <p style="color: green">Sonarr is healthy.</p>
{{end}}

<p>Disk space:</p>
<ul>
  {{range .DiskSpace -}}
    <li>{{.}}</li>
  {{end}}
</ul>

<p>{{.Uptime}}</p>
